<!-- Header Component -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
    <div class="container">
        <a class="navbar-brand fw-bold" href="index.html">
            <i class="bi bi-snow3 me-2"></i>
            РЕМСПЕЦТЕХМОНТАЖ
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html#about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#gallery">Наши работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="catalog.html">Кондиционеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#contact">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>